{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended", // Prettier와 통합
    "plugin:react/recommended" // React 프로젝트라면 추가
  ],
  "plugins": ["react", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "sort-imports": "off",
    "no-unused-vars": "warn", // ESLint 규칙 추가
    "no-console": "off", // 필요 시 추가 규칙 정의
    "linebreak-style": ["error", "unix"], // Unix 스타일 줄바꿈 강제
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "printWidth": 140,
        "trailingComma": "none",
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false,
        "endOfLine": "auto" // 줄바꿈 오류 해결
      }
    ]
  }
}
